[submodule "sparrow"]
	path = sparrow
	url = https://github.com/qcscine/sparrow.git
[submodule "core"]
	path = core
	url = https://github.com/qcscine/core.git
[submodule "readuct"]
	path = readuct
	url = https://github.com/qcscine/readuct.git
[submodule "utilities"]
	path = utilities
	url = https://github.com/qcscine/utilities.git
